body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u6972_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:128px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:128px;
}
#u6973_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:41px;
}
#u6974 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:65px;
  width:25px;
  height:41px;
}
#u6974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#1E1E1E;
}
#u6975 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:67px;
  width:129px;
  height:37px;
  font-size:32px;
  color:#1E1E1E;
}
#u6975_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#1E1E1E;
  text-align:center;
}
#u6976 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:65px;
  width:73px;
  height:42px;
  font-size:36px;
  color:#1E1E1E;
  text-align:center;
}
#u6976_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:750px;
}
#u6977 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:280px;
  width:710px;
  height:750px;
}
#u6977_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6978 {
  position:absolute;
  left:20px;
  top:835px;
  visibility:hidden;
}
#u6978_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:710px;
  height:395px;
  background-image:none;
}
#u6978_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:200px;
}
#u6981_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:2px;
}
#u6982 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:100px;
  width:640px;
  height:1px;
}
#u6982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6983 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:30px;
  width:57px;
  height:36px;
  font-size:28px;
}
#u6983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6984 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:130px;
  width:141px;
  height:36px;
  font-size:28px;
}
#u6984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u6985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:710px;
  height:105px;
}
#u6985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6986 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:210px;
  width:113px;
  height:36px;
  font-size:28px;
}
#u6986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u6987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:2px;
}
#u6987 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:195px;
  width:640px;
  height:1px;
}
#u6987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:295px;
  width:710px;
  height:100px;
}
#u6988_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-align:center;
}
#u6989 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:325px;
  width:57px;
  height:36px;
  font-size:28px;
  text-align:center;
}
#u6989_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6990 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:54px;
  width:175px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6992 {
  position:fixed;
  left:50%;
  margin-left:-375px;
  bottom:0px;
}
#u6992_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:750px;
  height:98px;
  background-image:none;
}
#u6992_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:98px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:98px;
}
#u6993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u6994 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:16px;
  width:44px;
  height:44px;
}
#u6994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u6995 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:16px;
  width:44px;
  height:44px;
}
#u6995_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u6996 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:16px;
  width:44px;
  height:44px;
}
#u6996_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u6997 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:64px;
  width:41px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u6997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u6998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u6998 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:64px;
  width:41px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u6998_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u6999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u6999 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:64px;
  width:41px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u6999_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u7000 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:16px;
  width:43px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7001 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:16px;
  width:43px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7002 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:16px;
  width:43px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7003 {
  position:fixed;
  left:50%;
  margin-left:-363.5px;
  top:10px;
}
#u7003_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:727px;
  height:27px;
  background-image:none;
}
#u7003_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:27px;
}
#u7004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:27px;
}
#u7004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7006 {
  position:fixed;
  left:50%;
  margin-left:-363.5px;
  top:10px;
}
#u7006_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:727px;
  height:27px;
  background-image:none;
}
#u7006_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:27px;
}
#u7007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:27px;
}
#u7007_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u7008 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:78px;
  width:15px;
  height:15px;
}
#u7008_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u7009 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:78px;
  width:15px;
  height:15px;
}
#u7009_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u7010 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:78px;
  width:15px;
  height:15px;
}
#u7010_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7011 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:60px;
  width:75px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
