body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u6276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:507px;
}
#u6277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:507px;
}
#u6277_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:41px;
}
#u6278 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:64px;
  width:25px;
  height:41px;
}
#u6278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:833px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-top:0px;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:501px;
  width:750px;
  height:833px;
}
#u6279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:780px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6280 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:530px;
  width:710px;
  height:780px;
}
#u6280_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6281 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:210px;
  width:50px;
  height:50px;
}
#u6281_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u6282 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:571px;
  width:15px;
  height:15px;
}
#u6282_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6283 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:562px;
  width:57px;
  height:33px;
  font-size:28px;
}
#u6283_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:10px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6284 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:501px;
  width:100px;
  height:10px;
}
#u6284_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6286 {
  position:fixed;
  left:50%;
  margin-left:-363.5px;
  top:10px;
}
#u6286_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:727px;
  height:27px;
  background-image:none;
}
#u6286_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:27px;
}
#u6287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:27px;
}
#u6287_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#999999;
}
#u6288 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:610px;
  width:370px;
  height:28px;
  font-size:24px;
  color:#999999;
}
#u6288_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
#u6289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6290 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:660px;
  width:295px;
  height:45px;
  font-size:28px;
}
#u6290_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:291px;
  word-wrap:break-word;
}
#u6291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6291 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:660px;
  width:303px;
  height:45px;
  font-size:28px;
}
#u6291_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:299px;
  word-wrap:break-word;
}
#u6292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6292 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:707px;
  width:295px;
  height:45px;
  font-size:28px;
}
#u6292_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:291px;
  word-wrap:break-word;
}
#u6293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u6293 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:707px;
  width:303px;
  height:45px;
  font-size:24px;
}
#u6293_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:299px;
  word-wrap:break-word;
}
#u6294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6294 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:754px;
  width:295px;
  height:45px;
  font-size:28px;
}
#u6294_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:291px;
  word-wrap:break-word;
}
#u6295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u6295 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:754px;
  width:303px;
  height:45px;
  font-size:24px;
}
#u6295_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:299px;
  word-wrap:break-word;
}
#u6296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u6296 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:801px;
  width:295px;
  height:45px;
  font-size:24px;
}
#u6296_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:291px;
  word-wrap:break-word;
}
#u6297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u6297 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:801px;
  width:303px;
  height:45px;
  font-size:24px;
}
#u6297_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:299px;
  word-wrap:break-word;
}
#u6298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u6299 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:847px;
  width:295px;
  height:45px;
  font-size:24px;
}
#u6299_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:291px;
  word-wrap:break-word;
}
#u6300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u6300 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:847px;
  width:303px;
  height:45px;
  font-size:24px;
}
#u6300_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:299px;
  word-wrap:break-word;
}
