body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6494 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u6494_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:507px;
}
#u6495 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:507px;
}
#u6495_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:41px;
}
#u6496 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:64px;
  width:25px;
  height:41px;
}
#u6496_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:833px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-top:0px;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:501px;
  width:750px;
  height:833px;
}
#u6497_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:780px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6498 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:530px;
  width:710px;
  height:780px;
}
#u6498_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6499 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:210px;
  width:50px;
  height:50px;
}
#u6499_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u6500 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:571px;
  width:15px;
  height:15px;
}
#u6500_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6501 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:562px;
  width:253px;
  height:33px;
  font-size:28px;
}
#u6501_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u6502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:10px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6502 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:501px;
  width:100px;
  height:10px;
}
#u6502_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6504 {
  position:fixed;
  left:50%;
  margin-left:-363.5px;
  top:10px;
}
#u6504_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:727px;
  height:27px;
  background-image:none;
}
#u6504_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:27px;
}
#u6505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:27px;
}
#u6505_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#999999;
}
#u6506 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:610px;
  width:370px;
  height:28px;
  font-size:24px;
  color:#999999;
}
#u6506_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
#u6507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6508 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:660px;
  width:295px;
  height:45px;
  font-size:28px;
}
#u6508_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:291px;
  word-wrap:break-word;
}
#u6509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6509 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:660px;
  width:303px;
  height:45px;
  font-size:28px;
}
#u6509_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:299px;
  word-wrap:break-word;
}
#u6510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6510 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:707px;
  width:295px;
  height:45px;
  font-size:28px;
}
#u6510_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:291px;
  word-wrap:break-word;
}
#u6511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u6511 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:707px;
  width:303px;
  height:45px;
  font-size:24px;
}
#u6511_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:299px;
  word-wrap:break-word;
}
#u6512 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6513 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:754px;
  width:295px;
  height:45px;
  font-size:28px;
}
#u6513_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:291px;
  word-wrap:break-word;
}
#u6514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6514 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:754px;
  width:303px;
  height:45px;
  font-size:28px;
}
#u6514_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:299px;
  word-wrap:break-word;
}
#u6515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6515 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:801px;
  width:295px;
  height:45px;
  font-size:28px;
}
#u6515_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:291px;
  word-wrap:break-word;
}
#u6516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u6516 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:801px;
  width:303px;
  height:45px;
  font-size:24px;
}
#u6516_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:299px;
  word-wrap:break-word;
}
#u6517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6517 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:848px;
  width:295px;
  height:45px;
  font-size:28px;
}
#u6517_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:291px;
  word-wrap:break-word;
}
#u6518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u6518 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:848px;
  width:303px;
  height:45px;
  font-size:24px;
}
#u6518_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:299px;
  word-wrap:break-word;
}
#u6519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6519 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:810px;
  width:8px;
  height:16px;
}
#u6519_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
